#index-banner.parallax-container
  .section.no-pad-bot
    .container
      .header.center.col.s8
        %h1 
          Deke's Market & 
          %br
          In Mah' Belly Deli
      .row.center
        %h2.header.col.s12.light 
          The best sandwiches in Santa Cruz. 
      - if open_for_business
        .row.center
          = link_to "Order Now", products_path, id: "download-button", class: "btn-large waves-effect lime darken-1 hoverable"
      - else
        .row.center
          .btn-large.waves-effect.disabled
            Order Now
        .row.center
          %strong Order online between 9am and 4pm

        
      .row.center
        %p 334 7th Ave, Santa Cruz • 831-476-5897

  .parallax
    .screen
    = image_tag "dekes-sandwich-shop.jpg", style: "display: block; transform: translate3d(-50%, 212px, 0px);", alt: "Deke's Sandwich Shop & Market"
.container
  .section
    .row
      .col.s12.m4
        %h5.center Breakfast
        %p Serving coffee and breakfast from 7 am until 11 am. Order online (coming soon) and pick up on your way to work. Slept in? Why wait, order and it'll be ready to go.
      .col.s12.m4
        %h5.center Lunch
        %p Serving fresh made sandwiches for lunch from 11 am to 3 pm. Order online (coming soon) and we'll have it ready in minutes. Get notified when it is ready and come pick it up.
      .col.s12.m4
        %h5.center Snacks & Drinks
        %p Why have just a sandwich? We've selected our most popular snacks and candy as well as drinks for all pick up orders.
.container
  .section
    .row
      - for product in @product
        .col.s12.m4
          =link_to "", class: "", role: 'button', data: {target: product, addUrl: add_to_cart_path(:product_id => product.id, :price => product.price, :name => product.name, :image => product.image.thumb)} do
            .card.z-depth-2.card-product.hoverable
              .card-media
                = image_tag product.image.hero
                .card-data
                  .card-title
                    %h3.card-title-text= product.name
                  %span.description= product.description

.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h3.header.light.text-depth
          From BLTs to ruebens, we've got the fresh made sandwich to make your lunch.
  .parallax
    .screen
    = image_tag "west-coast-reuben-sandwich.jpg", style: "display: block; transform: translate3d(-50%, 212px, 0px);", alt: "Order sandwiches online."
.container
  .section
    .row
      .col.s12.m4
        %h5.center Groceries
        %p A selection of everything you need for a great day at the beach, a quick run on the way home from work, or for a weekend getaway.
      .col.s12.m4
        %h5.center Wine
        %p We have over 100 wines to choose from.
      .col.s12.m4
        %h5.center Beer
        %p Our extensive beer selection will be perfect for a day on the beach, a barbecue or with one of our delicious fresh made sandwiches.
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h3.header.light.text-depth
          Now offering the best breakfast burritos in town!
  .parallax
    .screen
    = image_tag "breakfast-burrito-santa-cruz.jpg", style: "display: block; transform: translate3d(-50%, 212px, 0px);", alt: "best breakfast burritos in Santa Cruz."
.container
  .section
    .row
      .col.s12.m6
        %h5.center Breakfast Burrito
        %p This bad boy is filled with Bacon or Sausage, Egg, Cheese and Seasoned Potatoes. Comes with Hippie's Salsa, ready in just a few minutes so you can hit the road and start your day.
      .col.s12.m6
        %h5.center Steak Burrito
        %p Get your beef on with steak, Egg, Cheese and Seasoned Potatoes.  Comes with Hippie's Salsa to get you ready for whatever your day brings.
      
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h3.header.light.text-depth
          Open from 7 am to 9 pm 
          %br
          for groceries, wine and beer.
  .parallax
    .screen
    = image_tag "groceries-beer-wine-twin-lakes-beach.jpg", style: "display: block; transform: translate3d(-50%, 212px, 0px);", alt: "Groceries, beer and wine"         
.container
  .section
    .row
      .col.s12.m6.offset-m3
        %h3.center Catering
        %p Let us put together all the sandwiches, snacks and drinks you'll need for your event, get together, beach party at Twin Lakes Beach or a day on the boat in the Santa Cruz Harbor. Call us at 831-476-5897 and we'll get you set up.

:javascript
  $(document).ready(function(){
    $('.parallax').parallax();
  });
        